<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid ">
        <h2 class="">Write owner info here </h2>
        <form action="/owner" method="post">
            <div class="row ">
            <input type="text" class="col-4 mx-4 mt-4" placeholder="Owner Name" name="oname" required>
            <input type="text" class="col-4 mx-4 mt-4" placeholder="Apartment Number" name="onumber" required>     
    </div>
     <input type="submit" class="btn btn-primary mb-4 mx-4 mt-2" value="create Owner">

        </form> <!-- from end -->  
       
    </div>
</body>
</html>